/tetris.EXE
NEXT
OLD
RCDS_SAVE
RCDS_SAVE_1
*.ttr
*.ttr.real
*.zip
*.notexe
*.exe
*.EXE
*.notzip
*.png
*.fas
*.bmp
*.mp3
*.wav
ConvertTTRtoNewVersion.exe
tetris-surface.EXE
tetris-surface-2.EXE
super_secret_settings.asm
Tetris_v_4_10
ServerTest.exe
lastnickname
